<span id="baseUrl" style="display: none;">{{baseUrl}}</span>
<div>
    <!-- Button trigger modal -->
    <div class="caixa">        

        <input type="button" class="btn btn-success btn-big fonteGrande" data-toggle="modal" data-target="#exampleModal" value="Marcar Exame"><span id="espaco"></span>
        <input type="button" class="btn btn-primary btn-big fonteGrande" onclick="location.href='{{baseUrl}}/exame/'" value="Cadastrar Exame" /><span id="espaco"></span>
        <input type="button" class="btn btn-warning btn-big fonteGrande" onclick="location.href='{{baseUrl}}/paciente/'" value="Cadastrar Paciente" >        
       
    </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Data do exame</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <p>Selecione a data e hora do exame: <input type="date" id="dataExame"></p>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <div class="input-group mb-3">
                                <div class="rsinput-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Paciente:</span>
                                </div>
                                <input id="pacienteInput" type="text" placeholder="Nome" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <ul class="list-group" id="pacienteList">
                                <!-- aqui vai o codigo html (markup) de um item "paciente" -->  
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Exame:</span>
                                </div>
                                <input id="exameInput" type="text" class="form-control" placeholder="Nome"  aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <ul class="list-group" id="exameList">
                                <!-- aqui vai o codigo html (markup) de um item "paciente" -->  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button id="marcar" type="button" class="btn btn-primary" data-dismiss="modal">Marcar</button>
            </div>
        </div>
    </div>
    </div>                
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

<script>
    var baseUrl = document.getElementById('baseUrl').innerHTML;

    function createListItem(id, nome){
        return "<li paciente-id='" + id + "' class='list-group-item'>" +
                    "<span class='name'>" + nome + "</span>" +
                    "<button class='btn btn-default btn-xs pull-right select-item'>" +
                        "Select" +
                    "</button>" +
                "</li>";        
    }

    function addListItemsToList(listItems){
        $('#pacienteList').html('');
        $('#pacienteList').html(listItems);
    }

    function SelectItem(selected, liList, selectedLabel){
        liList.css("background-color", "white");
        liList.removeAttr(selectedLabel);
        selected.css("background-color", "red");
        selected.attr(selectedLabel, true);
    }

    $(document).on('click', '.select-item', function () {
        
        var esteLi = $(this).parent();
        var todosLi = $('.select-item').parent();
        SelectItem(esteLi, todosLi, 'paciente-selected');
    });

    $('#marcar').click(function(e){
        var paciente = $("li[paciente-selected=true]");
        var exame = $("li[exame-selected=true]");
        var dataExame = $("#dataExame").val();

        if (paciente.length == 0 || exame.length == 0 || dataExame.length == 0){
            alert("Selecione um Paciente, Exame e a Data!")
            return;
        }
        var _idPaciente = paciente.attr("paciente-id");
        var _idExame = exame.attr("exame-id");       

        axios
            .post(baseUrl + "/index/paciente/marcar", {
                _idPaciente,
                _idExame,
                dataExame                
            })
            .then(response => {
                alert(response.data)
                console.log(response);                
            });
    });

    $('#pacienteInput').on('input', function(e){
        //pegando valor do input
        var dado = $(this).val();

        if (dado != ''){
            axios
                .get(baseUrl + "/index/paciente/" + dado)
                .then(response => {
                    //popular lista
                    var combinedMarkup = '';
                    response.data.forEach(paciente => 
                            combinedMarkup += createListItem(paciente._id, paciente.nome));
                    addListItemsToList(combinedMarkup);
                });
        } else {
            $('#pacienteList').html('');
        }
    });


    //criar lista exames

     function createListItemExame(id, nome){
        return "<li exame-id='" + id + "' class='list-group-item'>" +
                    "<span class='name'>" + nome + "</span>" +
                    "<button class='btn btn-default btn-xs pull-right select-item-exame'>" +
                        "Select" +
                    "</button>" +
                "</li>";        
    }

    function addListItemsToListExame(listItems){
        $('#exameList').html('');
        $('#exameList').html(listItems);
    }

    $(document).on('click', '.select-item-exame', function () {
        var esteLi = $(this).parent();
        var todosLi = $('.select-item-exame').parent();
        SelectItem(esteLi, todosLi, 'exame-selected');
    });

    $('#exameInput').on('input', function(e){
        
        //pegando valor do input
        var dado = $(this).val();

        if (dado != ''){
        axios
            .get(baseUrl + "/index/exame/" + dado)
            .then(response => {
                //popular lista
                var combinedMarkup = '';
                response.data.forEach(exame => 
                        combinedMarkup += createListItemExame(exame._id, exame.nome));
                addListItemsToListExame(combinedMarkup);
            });
        } else {
            $('#exameList').html('');
        }
    });

</script>